force-app/main/default/flows/GetRecordsApex_Proto.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_GetRecordsByApex</name>
        <label>Call GetRecordsByApex</label>
        <locationX>873</locationX>
        <locationY>203</locationY>
        <actionName>GetRecordsByApex</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>fieldsToQuery</name>
            <value>
                <stringValue>Id, LastName, MailingCity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filterOperator</name>
            <value>
                <stringValue>OR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filters</name>
            <value>
                <elementReference>filters</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>contacts</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Add_AccountIds_to_List</name>
        <label>Add AccountIds to List</label>
        <locationX>330</locationX>
        <locationY>434</locationY>
        <assignmentItems>
            <assignToReference>accountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Accounts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Filter_1</name>
        <label>Filter 1</label>
        <locationX>518</locationX>
        <locationY>203</locationY>
        <assignmentItems>
            <assignToReference>Filter1.filterField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AccountId</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Filter1.operator</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IN</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Filter1.fieldCollectionValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Filter_2</name>
        <label>Filter 2</label>
        <locationX>632</locationX>
        <locationY>203</locationY>
        <assignmentItems>
            <assignToReference>Filter2.filterField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MailingCity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Filter2.operator</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Filter2.fieldValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Munich</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filters_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Filters_to_List</name>
        <label>Filters to List</label>
        <locationX>741</locationX>
        <locationY>203</locationY>
        <assignmentItems>
            <assignToReference>filters</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>filters</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_GetRecordsByApex</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>TODAY</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>GetRecordsApex_Proto {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GetRecordsApex_Proto</label>
    <loops>
        <name>Loop_Accounts</name>
        <label>Loop Accounts</label>
        <locationX>332</locationX>
        <locationY>203</locationY>
        <collectionReference>accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_AccountIds_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Filter_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>176</locationX>
        <locationY>203</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Accounts</targetReference>
        </connector>
        <filters>
            <field>CreatedDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>accounts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>accountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Filter1</name>
        <apexClass>GetRecordsFilter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Filter2</name>
        <apexClass>GetRecordsFilter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>filters</name>
        <apexClass>GetRecordsFilter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
